.characters-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.single-character{
    background: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}