@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Marvel:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Estonia&family=Marvel:ital@1&display=swap");

.character-component-page{
    font-family: "Bebas Neue", cursive;
}
.loading-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.character-component-page h1{
    padding-top: 90px;
    background-image: linear-gradient(90deg, rgb(232,60,28), rgb(50,15,27));
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 300ms ease;
}

.character-component-page h1:hover{
    background-size: 100% 3px;
}

.characters-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 25px;
}

.single-character{
    padding: 2em;
    border-radius: .3em;
    /* box-shadow: 10px 10px 30px rgba(0,0,0,0.1); */
    box-shadow: 0 8px 8px -4px rgb(233,59,30);
    background: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all .2s ease-in-out;
    letter-spacing: .5px;
}

.single-character:hover{
    transform: scale(1.1);
    background-color: rgb(10,14,44);
    color: white;

}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid rgb(10, 14, 44);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(10, 14, 44) transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }